body {
	background-color: #261C25; 
}

.container {
	max-width: 100%;
}

@media (min-width: 992px) {
	.container {
		max-width: 980px;
	}
}


/*------navbar styles------*/
.navbar {
	background-color: #3B2B39;
}
	/*nav links*/
	a.nav-link:link {
		color: #F0F0F2;
		text-decoration: none;	
	}

	a.nav-link:visited {
		color: #F0F0F2;
		text-decoration: none;	
	}

	a.nav-link:hover {
		color: #E8476D;
		text-decoration: none;	
	}

	a.nav-link:active {
		color: #E8476D;
		text-decoration: none;	
	}

/*navbar collapse button (bars icon) */
#collapseButton {
	color: #F0F0F2;
}

/*navbar logo */
#shoppingBasketIcon {
	color: #ff530d;
}
	/*navbar logo link*/
	a.navbar-brand:link {
		color: #F0F0F2;
		text-decoration: none;	
	}

	a.navbar-brand:visited {
		color: #F0F0F2;
		text-decoration: none;	
	}

	a.navbar-brand:hover {
		color: #E8476D;
		text-decoration: none;	
	}

	a.navbar-brand:active {
		color: #E8476D;
		text-decoration: none;	
	}

/*------accordion styles------*/

#accordion {
	margin-top: 1rem;
	}

.btn-primary {
	background-color: #449991;
	border-color: #2A5E59;
}

.btn-primary:hover {
	background-color: #5BCCC1;
	border-color: #449991;
}

.btn-secondary {
	background-color: #8CBEB2;
	border-color: #449991;
}

.btn-secondary:hover {
	background-color: #A5E0D2;
	border-color: #5BCCC1;
}

.btn-danger {
	background-color: #E8476D;
	border-color: #573544;
}

.btn-danger:hover {
	background-color: #FF6E90;
	border-color: #573544;
}

.btn-outline-secondary:disabled {
	background-color: #F0F0F2;
	border-color: #449991;
	color: #449991;
	opacity: 1;
}

.form-control {
	border: 1px solid #2A5E59;
}

.card-header {
	background-color: #644D52; 
}

.card {
	border-color: #F2EBDE;
	background-color: #F2EBDE;
}

	/*accordion logo link*/
	a.card-headerLink:link {
		color: #F0F0F2;
		text-decoration: none;	
	}

	a.card-headerLink:visited {
		color: #F0F0F2;
		text-decoration: none;	
	}

	a.card-headerLink:hover {
		color: #E8476D;
		text-decoration: none;	
	}

	a.card-headerLink:active {
		color: #E8476D;
		text-decoration: none;	
	}
/*------favorites styles------*/
.btn-outline-secondary{
	min-width: 28rem;	
	text-align: left;
}

/*-----.orangify-----*/
.orangify {
	background-color: #E37337;
	border-color: #9C4F26;
}

.orangify:hover {
	background-color: #F7935E;
	border-color: #E37337;
}

.orangify-border {	
	border-color: #9C4F26;		
}

.orangify-border:hover {	
	border-color: #9C4F26;		
}

/*-----.light-orangify-----*/
.light-orangify {
	background-color: #E08F64;
	border-color: #9C4F26;
}

.light-orangify:hover {
	background-color: #FFBF9C;
	border-color: #E37337;
}

.light-orangify-border {	
	border-color: #9C4F26;		
}

.light-orangify-border:hover {	
	border-color: #E37337;		
}

h1 {
	color: #3B2B39;
}
