body {
	background-color: #3f5765;
}

.container {
	max-width: 100%;
}

@media (min-width: 992px) {
	.container {
		max-width: 980px;
	}
}

/*------navbar styles------*/
.navbar {
	background-color: #2b3a42;
}
	/*nav links*/
	a.nav-link:link {
		color: #efefef;
		text-decoration: none;	
	}

	a.nav-link:visited {
		color: #efefef;
		text-decoration: none;	
	}

	a.nav-link:hover {
		color: #ff530d;
		text-decoration: none;	
	}

	a.nav-link:active {
		color: #efefef;
		text-decoration: none;	
	}

/*navbar collapse button (bars icon) */
#collapseButton {
	color: #efefef;
}

/*navbar logo */
#shoppingBasketIcon {
	color: #ff530d;
}
	/*navbar logo link*/
	a.navbar-brand:link {
		color: #efefef;
		text-decoration: none;	
	}

	a.navbar-brand:visited {
		color: #efefef;
		text-decoration: none;	
	}

	a.navbar-brand:hover {
		color: #ff530d;
		text-decoration: none;	
	}

	a.navbar-brand:active {
		color: #efefef;
		text-decoration: none;	
	}

/*------accordion styles------*/

#accordion {
	margin-top: 1rem;
	}
